<h1>Users Admin</h1>
<a class="btn btn-warning mb-3" (click)="addUser()">add</a>
<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      @for (user of users; track user.id) {
      <tr> <!-- repeat this tr for each user -->
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td><button type="button" class="btn btn-primary" (click)="setUser(user.id)">view</button></td>
      </tr>
      }
      </tbody>
    </table>
  </div>
  <div class="col-6">
    @if (action === 'view') {
    <mn-user-detail [user]="selectedUser"></mn-user-detail>
    } @else if (action === 'edit' || action === 'add') {
    <mn-user-edit [user]="selectedUser"></mn-user-edit>
    }
  </div>
</div>


